.card {
	width: 380px;
    padding: 24px 0 24px;
}

.card_title {
	font-size: 26px;
	line-height: 1.2;
}


.item_link {
	display: block;
	padding: 12px;
	border-radius: 8px;
	/* background: rgba(0, 20, 50, 0.05); */
}

.item_link:hover {
	background: rgba(0, 20, 50, 0.05);
}